<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layouts/base}">

<head>
    <meta charset="UTF-8">
    <title>SkillSwapHub</title>
    <link rel="stylesheet" th:href="@{/css/components/buttonsTamim.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<h1>DashBoard</h1>
<!-- home Start -->
<div layout:fragment="content">
<div class="container-fluid p-0 mb-4">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">




            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                 style="background: rgba(24, 29, 56, .4)">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class=" text-uppercase mb-3 animated slideInDown" style="color: #fb873f;">Welcome to
                                SkillSwapHub</h5>
                            <h1 class="display-3 text-white animated slideInDown">Experience hands-on learning that keeps you motivated and inspired.</h1>
                            <p class=" text-white mb-4 pb-2">Start learning today!</p>
                            <a th:href="@{/about}"
                               class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a class="btn btn-light py-md-3 px-md-5 animated slideInRight" th:href="@{/register}">Join Now</a>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>




</div>
<!-- home End -->



</body>
</html>