<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layouts/base}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<!-- Content block where the page content will be inserted -->
<div layout:fragment="content">

    <div class="wall">
        <div class="container-login-register ">
            <!-- form -->
            <div class="form-box register">
                <form id="registrationForm">
                    <h1>Register</h1>
                    <div id="message"></div>
                    <div class="input-box">
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="name" required>
                        <i class='bx bxs-user'></i>
                    </div>

                    <div class="input-box">
                        <label for="email"></label>
                        <input type="email" id="email" name="email" placeholder="email" required>
                        <i class='bx bxs-envelope'></i>
                    </div>
                    <div class="input-box">
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="password" required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                    <div class="select-box">
        <label for="role"></label>
        <select id="role" name="role" required>
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
        </select>
                    </div>
        <button type="submit" class="btn-submit btn-primary">Register</button>
    </form>

            </div>

            <div class="toggle-box">
                <div class="toggle-panel toggle-right">

                    <h1>SkillSwapHub</h1>
                    <p>Already a member?</p>
                    <button class="btn register-btn">Log IN</button>
                </div>
            </div>


        </div>

    </div>


    <!-- Add custom script for registration -->
    <script src="/js/registerUser.js"></script>
</div>

</body>
</html>
