@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: linear-gradient(90deg, #e2e2e2, #d8f4f6);

}

*/
.wall{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #e2e2e2, #d8f4f6);

}



.container-login-register {
    /* padding-left: 15px; */
    /* padding-top: 20px; */
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgb(254, 254, 254);
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
}

/* .form-box.register{
    visibility: hidden;
} */

form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
    margin: 10px 0;
}

.input-box {
    position: relative;
    margin: 10px 0;
}
.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;

}

.input-box input::placeholder{
    color: #888;
    font-weight: 400;
}
.input-box i{
    position: absolute;
    right: 20px;
    top:70%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.select-box{
    position: relative;
    margin: 10px 0;
}

.select-box select{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #787070;
    font-weight: 500;
}
.btn-submit{
    width:100%;
    height : 45px;
    background: #224341;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:none;
    cursor: pointer;
    font-size:16px ;
    color: #FFFFFF;
    font-weight: 600;
    margin: 10px 0;
}


.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}
.toggle-box::before{
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: rgb(30, 111, 111) ;
    border-radius: 150px;
    z-index:2;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    /* background: seagreen; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.toggle-panel p{
    margin-bottom: 20px;

}

.toggle-panel .btn{
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #FFFFFF;
    box-shadow: none;
    font-weight: 700;
    color:white;

}
.toggle-panel .btn:hover{
    width: 160px;
    height: 46px;
    background: white;
    border: 2px solid #FFFFFF;
    box-shadow: none;
    font-weight: 700;
    color: #201414;

}




/* Navbar Styling */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 50px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navbar-brand {
    font-weight: 700;
    color: #224341;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #5c5151;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #224341;
}



.navbar-brand img {
    height: 45px;
}

.form-control {
    max-width: 500px;
    border-radius: 50px;
    padding-left: 20px;
}
.search-input {
    width: 100%; /* Increase input box width (Adjust as needed) */
    max-width: 600px; /* Limit the max width */
    min-width: 700px;
    border-radius: 50px;
    padding: 12px 50px 12px 20px; /* Adjust padding to make space for the icon */
    font-size: 16px;
}

.btn-primary {
    background-color: rgb(30, 111, 111);
    border-color: rgb(30, 111, 111);
}

.btn-primary:hover {
    background-color: #7f543d;
}
.primary-color{
    background-color: #7f543d;
}
.btn-outline-dark {
    border-radius: 5px;
}

.btn-outline-dark:hover{
    background-color: #7f543d;
}

.navbar-nav .nav-link img {
    height: 20px;
}

