/*!* Toast Container *!*/
/*#toast-container {*/
/*    position: fixed;*/
/*    top: 20px;*/
/*    right: 20px;*/
/*    z-index: 6000;*/
/*}*/

/*!* Toast Message *!*/
/*.toast {*/
/*    padding: 10px 20px;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*    font-size: 14px;*/
/*    animation: fadeIn 0.5s, fadeOut 0.5s 4.5s forwards;*/
/*}*/

/*!* Success Toast *!*/
/*.toast.success {*/
/*    background-color: #0F5133;*/
/*}*/

/*!* Error Toast *!*/
/*.toast.error {*/
/*    background-color: #84202A;*/
/*}*/

/*!* Fade Animations *!*/
/*@keyframes fadeIn {*/
/*    from { opacity: 0; transform: translateY(-10px); }*/
/*    to { opacity: 1; transform: translateY(0); }*/
/*}*/

/*@keyframes fadeOut {*/
/*    from { opacity: 1; transform: translateY(0); }*/
/*    to { opacity: 0; transform: translateY(-10px); }*/
/*}*/
